body{
    margin: 0;
    background-image: url("../images/fondo.jpg");
    background-color: #38b3d8;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

#page{
  /* margin-bottom: 10%; */
}

#bar-arcoiris{
    height: 35px;
    background: rgba(85,169,169,1);
    background: -moz-linear-gradient(left, rgba(85,169,169,1) 0%, rgba(113,237,146,1) 13%, rgba(214,214,58,1) 30%, rgba(222,178,217,1) 57%, rgba(202,181,235,1) 68%, rgba(183,222,237,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(85,169,169,1)), color-stop(13%, rgba(113,237,146,1)), color-stop(30%, rgba(214,214,58,1)), color-stop(57%, rgba(222,178,217,1)), color-stop(68%, rgba(202,181,235,1)), color-stop(100%, rgba(183,222,237,1)));
    background: -webkit-linear-gradient(left, rgba(85,169,169,1) 0%, rgba(113,237,146,1) 13%, rgba(214,214,58,1) 30%, rgba(222,178,217,1) 57%, rgba(202,181,235,1) 68%, rgba(183,222,237,1) 100%);
    background: -o-linear-gradient(left, rgba(85,169,169,1) 0%, rgba(113,237,146,1) 13%, rgba(214,214,58,1) 30%, rgba(222,178,217,1) 57%, rgba(202,181,235,1) 68%, rgba(183,222,237,1) 100%);
    background: -ms-linear-gradient(left, rgba(85,169,169,1) 0%, rgba(113,237,146,1) 13%, rgba(214,214,58,1) 30%, rgba(222,178,217,1) 57%, rgba(202,181,235,1) 68%, rgba(183,222,237,1) 100%);
    background: linear-gradient(to right, rgba(85,169,169,1) 0%, rgba(113,237,146,1) 13%, rgba(214,214,58,1) 30%, rgba(222,178,217,1) 57%, rgba(202,181,235,1) 68%, rgba(183,222,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55a9a9', endColorstr='#b7deed', GradientType=1 );
}

#logo{
    text-align: center;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333333; */
}

li {
    float: left;
    padding: 0 15px;
    color: #654330;
    font-weight: bold;
}

li a {
  text-decoration: none;
  color: #1d373a;
}

li a:hover {
  color: #CA8220;
  /* font-size: 135%; */
  text-decoration: none;
}

.activo {
  text-decoration: underline;
  color: #CA8220;
  text-decoration: none;
  font-size: 135%;
}

#top-menu{
  margin-top: 5px;
  display: inline-block;
  margin-left: 70%;
}

@media only screen and (max-width: 600px) {
  #top-menu{
    margin-top: 5px;
    display: inline-block;
    margin: 10% auto;
  }

  #left-menu{
    float: none !important;
    font-size: 130%;
    margin-left: 0px !important;
  }

  #right-menu{
    float: none !important;
      font-size: 130%;
      margin-right: 0px !important;
  }

}

#top-menu .language{
  margin-right: 20px;
}

#top-menu img{
  width: 30px;
}

#principal-menu{
  width: 100%;
  height: 80px;
}

#left-menu{
    float: left;
    font-size: 130%;
    margin-left: 9%;
}

#right-menu{
    float: right;
    font-size: 130%;
    margin-right: 9%;
}



#container-general{
    width: 80%;
    margin: 30px auto;
    text-align: center;
}


#about-us{
    font-size: 130%;
    text-align: justify;
}

#contact-us{
  min-height: 600px;
}

#contact-us .row{
  margin-bottom: 1%;
}
#contact-us .row .col-12{
  text-align: left;
}

#contact-us-info{
  margin-bottom: 2%;
}

#map {
  width: 100%;
}

#map > iframe {
  width: 100%;
}

/*Menu Food*/

.row{
  text-align: left;
}

.row-dotted{
  border-bottom-style: dotted; 
  border-bottom-width: 4px;
  border-bottom-color: #CA8220;
}

.img-menu{
  width: 100px;
  height: 100px;
}

.price{
  font-weight: bold;
}

.menu-food .row{
  margin-bottom: 1%;
}

.title-food{
  font-weight: bold;
}

.menu-food-2 .row{
  margin-bottom: 2%;
}

.img-menu-2{
  width: 100%;
  height: 250px;
}

/*End Food Menu*/

#drink .beer{
  
}

#drink .cocktail{
  padding-left: 3%;
}

.title-drink{
  font-size: 130%;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

#drink .row-dotted{
  width: 90%;
}

.row-cocktail{
  margin-bottom: 3%;
}

#info-contact{
    display: inline-flex;
    width: 100%;
    text-align: left;
}

#phones{
  width: 12%;
}

#phones img{
  width: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

#email{
  width: 50%;
}

#email img{
  width: 20px;
  margin-left: 5px;
  margin-right: 5px;
}



#slider-bozha img{
  height: 800px;
}

#coffee{
  min-height: 500px;
}

#img-menu{
  width: 100%;
}

footer{

  margin-top: 10%;
  /* background-color: #1d373a; */
  color: #ffffff;

  background-image: url('../images/slider/coffee_20.jpg');
  background-size: cover;
  background-color: #654330;
}

#footer-social-btns{
  margin-top: 5%;
}

#footer-social-btns li a{
  color: #ffffff;
}

/* 
 * Small devices (landscape phones, 576px and up)
 * Medium devices (tablets, 768px and up)
 */
@media (min-width: 576px) and (max-width: 991.98px) { 

  #top-menu{
    margin-left: 65%;
    margin-top: 2%;
  }
  #page{
    /* height: 80%; */
  } 

  #container-general{
    min-height: 850px;
  }
  footer{    
    height: 20%;
  }

  #slider-bozha img{
    min-height: 400px;
  }
  
  #drink .cocktail{
    padding-left: 7%;
  }
}