<div id="about-us">
    <p>
        Bozha means number two in the Chibcha indigenous language, our logo represents communities connected by our
        shared roots and the only planet We all live in. It expresses a philosophy of inclusion, community service, and
        respect for the environment. We only use biodegradable cleaning products, have used recycled wood, even eco
        friendly paints and serve coffee beans that are good to humans and don’t harm nature.
        <br/><br/>
        Bozha Café Bar core aim is to serve high quality premium Colombian Organic and specialty Coffee beans with a
        warmth spirit that characterizes the people of the Caribbean coast of Colombia. Located in the heart of
        Cartagena’s Old Town, Bozha is an inventive Café Bar with an inclusive contemporary energy, also serving
        cocktails, beers, fresh juices and nutritious snacks made with local and natural ingredients. We are excited to
        serve you and show you what our community is about. Welcome!

    </p>
</div>