<div id="coffee" class="menu-food">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-6">
                </div>
                <div class="col-2">
                    <p class="price">Regular</p>
                </div>
                <div class="col-2">
                    <p class="price">Organico</p>
                </div>
            </div>
            <div class="row">

                <div class="col-6">
                    <p class="title-food">Tinto</p>
                </div>
                <div class="col-2">
                    <p class="price">$2.000</p>
                </div>
                <div class="col-2">

                </div>
            </div>
            <div class="row">

                <div class="col-6">
                    <p class="title-food">Espresso</p>
                </div>
                <div class="col-2">
                    <p class="price">$4.000</p>
                </div>
                <div class="col-2">
                    <p class="price">$4.000</p>
                </div>
            </div>
            <div class="row">

                <div class="col-6">
                    <p class="title-food">Espresso Doble</p>
                </div>
                <div class="col-2">
                    <p class="price">$5.300</p>
                </div>
                <div class="col-2">
                    <p class="price">$6.800</p>
                </div>
            </div>
            <div class="row">

                <div class="col-6">
                    <p class="title-food">Capuccino</p>
                </div>
                <div class="col-2">
                    <p class="price">$4.600</p>
                </div>
                <div class="col-2">
                    <p class="price">$6.000</p>
                </div>
            </div>
            <div class="row">

                <div class="col-6">
                    <p class="title-food">Capuccino grande</p>
                </div>
                <div class="col-2">
                    <p class="price">$5.000</p>
                </div>
                <div class="col-2">
                    <p class="price">$7.000</p>
                </div>
            </div>

            <div class="row">
                    <div class="col-6">
                        <p class="title-food">Macchiato</p>
                    </div>
                    <div class="col-2">
                        <p class="price">$4.200</p>
                    </div>
                    <div class="col-2">
                        <p class="price">$4.800</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="title-food">Late</p>
                    </div>
                    <div class="col-2">
                        <p class="price">$4.900</p>
                    </div>
                    <div class="col-2">
                        <p class="price">$5.600</p>
                    </div>
                </div>

        </div>

        <div class="col-6">
            <div class="row">
                <div class="col-6">

                </div>
                <div class="col-2">
                    <p class="price">Regular</p>
                </div>
                <div class="col-2">
                    <p class="price">Organico</p>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <p class="title-food">Mocaccino</p>
                </div>
                <div class="col-2">
                    <p class="price">$5.200</p>
                </div>
                <div class="col-2">
                </div>
            </div>
            <div class="row">
                    <div class="col-6">
                        <p class="title-food">Chocolate</p>
                    </div>
                    <div class="col-2">
                        <p class="price">$3.600</p>
                    </div>
                    <div class="col-2">
                    </div>
                </div>
                <div class="row">
                        <div class="col-6">
                            <p class="title-food">Chocomasmelo</p>
                        </div>
                        <div class="col-2">
                            <p class="price">$4.000</p>
                        </div>
                        <div class="col-2">
                        </div>
                    </div>   
                    
                    <div class="row">
                            <div class="col-6">
                                <p class="title-food">Frapuccino</p>
                            </div>
                            <div class="col-2">
                                <p class="price">$5.500</p>
                            </div>
                            <div class="col-2">
                            </div>
                        </div>                    
        </div>
    </div>





    <!-- <div class="row">
        <div class="col-2">
            <img class="img-menu" src="../images/coffee/capuccino.jpg" alt="Expresso" title="Expresso" />
        </div>
        <div class="col-8">
            <div class="row">
                <p class="title-food">Capuccino</p>
            </div>
            <div class="row">
                <p>Aqui la descripcion de la bebida ........</p>
            </div>
            <div class="row row-dotted">
                <p class="price">$5.000</p>
            </div>
        </div>
    </div> -->
</div>