<div id="coffee" class="menu-food">
    <div class="row">
        <div class="col-2">
            <img class="img-menu" src="../images/coffee/expresso.jpg" alt="Expresso" title="Expresso" />
        </div>
        <div class="col-8">
            <div class="row">
                <p class="title-food">Expresso</p>
            </div>
            <div class="row">
                <p>Aqui la descripcion de la bebida ........</p>
            </div>
            <div class="row row-dotted">
                <p class="price">$5.000</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <img class="img-menu" src="../images/coffee/expresso_doble.jpg" alt="Expresso" title="Expresso" />
        </div>
        <div class="col-8">
            <div class="row">
                <p class="title-food">Expresso Doble</p>
            </div>
            <div class="row">
                <p>Aqui la descripcion de la bebida ........</p>
            </div>
            <div class="row row-dotted">
                <p class="price">$5.000</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <img class="img-menu" src="../images/coffee/mocaccino.jpg" alt="Expresso" title="Expresso" />
        </div>
        <div class="col-8">
            <div class="row">
                <p class="title-food">Mocaccino</p>
            </div>
            <div class="row">
                <p>Aqui la descripcion de la bebida ........</p>
            </div>
            <div class="row row-dotted">
                <p class="price">$5.000</p>
            </div>
        </div>
    </div>    
    <div class="row">
        <div class="col-2">
            <img class="img-menu" src="../images/coffee/latte.jpg" alt="Expresso" title="Expresso" />
        </div>
        <div class="col-8">
            <div class="row">
                <p class="title-food">Latte</p>
            </div>
            <div class="row">
                <p>Aqui la descripcion de la bebida ........</p>
            </div>
            <div class="row row-dotted">
                <p class="price">$5.000</p>
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="col-2">
            <img class="img-menu" src="../images/coffee/capuccino.jpg" alt="Expresso" title="Expresso" />
        </div>
        <div class="col-8">
            <div class="row">
                <p class="title-food">Capuccino</p>
            </div>
            <div class="row">
                <p>Aqui la descripcion de la bebida ........</p>
            </div>
            <div class="row row-dotted">
                <p class="price">$5.000</p>
            </div>
        </div>
    </div>       
</div>