<div id="drink">
    <div class="row">
        <div class="beer col-3">
            <div class="row">
                <p class="title-drink">Beer</p>
            </div>
            <div class="row">
                <div class="col-8">
                    <p>3 Cordilleras</p>
                </div>
                <div class="col-4">
                    <p class="price">$9.000</p>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <p>Corona</p>
                </div>
                <div class="col-4">
                    <p class="price">$8.000</p>
                </div>
            </div>

            <div class="row">
                <div class="col-8">
                    <p>Peronni</p>
                </div>
                <div class="col-4">
                    <p class="price">$8.000</p>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <p>Heineken</p>
                </div>
                <div class="col-4">
                    <p class="price">$8.000</p>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <p>Club Colombia</p>
                </div>
                <div class="col-4">
                    <p class="price">$7.000</p>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <p>Aguila / Aguila Ligth</p>
                </div>
                <div class="col-4">
                    <p class="price">$5.000</p>
                </div>
            </div>
            <div class="row">
                <p class="title-drink">Without Alcohol</p>
            </div>
            <div class="row">
                <div class="col-8">
                    <p>Lemonade</p>
                </div>
                <div class="col-4">
                    <p class="price">$5.000</p>
                </div>
            </div>

            <div class="row">
                <div class="col-8">
                    <p>Lemonade Coco</p>
                </div>
                <div class="col-4">
                    <p class="price">$8.000</p>
                </div>
            </div>

            <div class="row">
                <div class="col-8">
                    <p>Soda</p>
                </div>
                <div class="col-4">
                    <p class="price">$5.000</p>
                </div>
            </div>

            <div class="row">
                <div class="col-8">
                    <p>Coca Cola</p>
                </div>
                <div class="col-4">
                    <p class="price">$5.000</p>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <p>Postobon</p>
                </div>
                <div class="col-4">
                    <p class="price">$5.000</p>
                </div>
            </div>

            <div class="row">
                <div class="col-8">
                    <p>Water</p>
                </div>
                <div class="col-4">
                    <p class="price">$5.000</p>
                </div>
            </div>

        </div>
        <div class="cocktail col-9">
            <div class="row">
                <p class="title-drink">Cocktails</p>
            </div>

            <div class="row row-cocktail">
                <div class="col-6">
                    <div class="row">
                        <p class="title-food">Perro Blanco</p>
                    </div>
                    <div class="row">
                        <p>Rum, passion fruit, coconut</p>
                    </div>
                    <div class="row row-dotted">
                        <p class="price">$16.000</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <p class="title-food">Macondo</p>
                    </div>
                    <div class="row">
                        <p>Vodka, Passion fruit, Vanilla, hot souce</p>
                    </div>
                    <div class="row row-dotted">
                        <p class="price">$17.000</p>
                    </div>
                </div>
            </div>
            <div class="row row-cocktail">
                <div class="col-6">
                    <div class="row">
                        <p class="title-food">Brujeria</p>
                    </div>
                    <div class="row">
                        <p>Vodka, Vermouth, Orange, Syrup</p>
                    </div>
                    <div class="row row-dotted">
                        <p class="price">$20.000</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <p class="title-food">Por tí</p>
                    </div>
                    <div class="row">
                        <p>Vodka, Vermouth, Corozo berries</p>
                    </div>
                    <div class="row row-dotted">
                        <p class="price">$16.000</p>
                    </div>
                </div>
            </div>

            <div class="row row-cocktail">
                <div class="col-6">
                    <div class="row">
                        <p class="title-food">Cuba Libre</p>
                    </div>
                    <div class="row">
                        <p>Rum, Coke, Lemon</p>
                    </div>
                    <div class="row row-dotted">
                        <p class="price">$16.000</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <p class="title-food">Martini / de Manzana</p>
                    </div>
                    <div class="row">
                        <p>Gin / Vodka, Vermouth</p>
                    </div>
                    <div class="row row-dotted">
                        <p class="price">$21.000</p>
                    </div>
                </div>
            </div>

            <div class="row row-cocktail">
                <div class="col-6">
                    <div class="row">
                        <p class="title-food">Margaritas</p>
                    </div>
                    <div class="row">
                        <p>Coconunt - Passionfruit - Mango - Corozo</p>
                    </div>
                    <div class="row row-dotted">
                        <p class="price">$20.000</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <p class="title-food">Mojitos</p>
                    </div>
                    <div class="row">
                        <p>Classic, Corozo berries</p>
                    </div>
                    <div class="row row-dotted">
                        <p class="price">$17.000</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <p class="title-food">Negroni</p>
                    </div>
                    <div class="row">
                        <p>Campari, Vermouth, Gin</p>
                    </div>
                    <div class="row row-dotted">
                        <p class="price">$25.000</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <p class="title-food">Red - White Wine</p>
                    </div>
                    <div class="row">
                        <p></p>
                    </div>
                    <div class="row row-dotted">
                        <p class="price">$12.000</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <p class="title-food">Single Malt Scotch - Shot</p>
                    </div>
                    <div class="row">
                        <p></p>
                    </div>
                    <div class="row row-dotted">
                        <p class="price">$21.000</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>