<div id="drink">
    <div class="row">
        <div class="beer col-3">
            <div class="row">
                <p class="title-drink">Beer</p>
            </div>
            <div class="row">
                <div class="col-8">
                    <p>Club Colombia</p>
                </div>
                <div class="col-4">
                    <p class="price">$12.000</p>
                </div>
            </div>

            <div class="row">
                <div class="col-8">
                    <p>Peronni</p>
                </div>
                <div class="col-4">
                    <p class="price">$12.000</p>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <p>Heineken</p>
                </div>
                <div class="col-4">
                    <p class="price">$12.000</p>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <p>Budweiser</p>
                </div>
                <div class="col-4">
                    <p class="price">$12.000</p>
                </div>
            </div>
        
            <div class="row">
                <p class="title-drink">Without Alcohol</p>
            </div>
            <div class="row">
                <div class="col-8">
                    <p>Piña Colada</p>
                </div>
                <div class="col-4">
                    <p class="price">$12.000</p>
                </div>
            </div>

            <div class="row">
                <div class="col-8">
                    <p>Mojito</p>
                </div>
                <div class="col-4">
                    <p class="price">$12.000</p>
                </div>
            </div>
              
            <div class="row">
                    <p class="title-drink">Soft drinks</p>
                </div>
                <div class="row">
                    <div class="col-8">
                        <p>Water</p>
                    </div>
                    <div class="col-4">
                        <p class="price">$12.000</p>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-8">
                        <p>Gas water</p>
                    </div>
                    <div class="col-4">
                        <p class="price">$12.000</p>
                    </div>
                </div>       
                <div class="row">
                    <div class="col-8">
                        <p>Coca-cola</p>
                    </div>
                    <div class="col-4">
                        <p class="price">$12.000</p>
                    </div>
                </div>   
                <div class="row">
                    <div class="col-8">
                        <p>Lemonade</p>
                    </div>
                    <div class="col-4">
                        <p class="price">$12.000</p>
                    </div>
                </div>                     
            </div>
        <div class="cocktail col-9">
            <div class="row">
                <p class="title-drink">Cocktails</p>
            </div>
            
            <div class="row row-cocktail">
                <div class="col-6">
                    <div class="row">
                        <p class="title-food">Cuba libre</p>
                    </div>
                    <div class="row">
                        <p>Aqui la descripcion de la bebida ........</p>
                    </div>
                    <div class="row row-dotted">
                        <p class="price">$5.000</p>
                    </div>
                </div>
                <div class="col-6">
                        <div class="row">
                            <p class="title-food">Brujeria</p>
                        </div>
                        <div class="row">
                            <p>Aqui la descripcion de la bebida ........</p>
                        </div>
                        <div class="row row-dotted">
                            <p class="price">$5.000</p>
                        </div>
                    </div>
            </div>
            <div class="row row-cocktail">
                <div class="col-6">
                    <div class="row">
                        <p class="title-food">Margarita</p>
                    </div>
                    <div class="row">
                        <p>Aqui la descripcion de la bebida ........</p>
                    </div>
                    <div class="row row-dotted">
                        <p class="price">$5.000</p>
                    </div>
                </div>
                <div class="col-6">
                        <div class="row">
                            <p class="title-food">Negroni</p>
                        </div>
                        <div class="row">
                            <p>Aqui la descripcion de la bebida ........</p>
                        </div>
                        <div class="row row-dotted">
                            <p class="price">$5.000</p>
                        </div>
                    </div>
            </div>

            <div class="row row-cocktail">
                <div class="col-6">
                    <div class="row">
                        <p class="title-food">Americano</p>
                    </div>
                    <div class="row">
                        <p>Aqui la descripcion de la bebida ........</p>
                    </div>
                    <div class="row row-dotted">
                        <p class="price">$5.000</p>
                    </div>
                </div>
                <div class="col-6">
                        <div class="row">
                            <p class="title-food">Dry Martini</p>
                        </div>
                        <div class="row">
                            <p>Aqui la descripcion de la bebida ........</p>
                        </div>
                        <div class="row row-dotted">
                            <p class="price">$5.000</p>
                        </div>
                    </div>
            </div>
            
            <div class="row row-cocktail">
                <div class="col-6">
                    <div class="row">
                        <p class="title-food">Martini de manzana</p>
                    </div>
                    <div class="row">
                        <p>Aqui la descripcion de la bebida ........</p>
                    </div>
                    <div class="row row-dotted">
                        <p class="price">$5.000</p>
                    </div>
                </div>
                <div class="col-6">
                        <div class="row">
                            <p class="title-food">Perro Blanco</p>
                        </div>
                        <div class="row">
                            <p>Aqui la descripcion de la bebida ........</p>
                        </div>
                        <div class="row row-dotted">
                            <p class="price">$5.000</p>
                        </div>
                    </div>
            </div>
        </div>

    </div>
</div>