<div id="food" class="menu-food-2">
    <div class="row">
        <div class="col-4">
            <img class="img-menu-2" src="../images/food/sandwich.jpg" alt="Expresso" title="Expresso" />
            <p class="title-food">Sandwich de pollo</p>
            <p>Descripcion del plato .........</p>
            <p class="price">$12.000</p>
        </div>
        <div class="col-4">
            <img class="img-menu-2" src="../images/food/empanadas.jpg"/>
            <p class="title-food">Sandwich de carne</p>
            <p>Descripcion del plato .........</p>
            <p class="price">$5.500</p>
        </div>
        <div class="col-4">
            <img class="img-menu-2" src="../images/food/carimanola.jpg"/>
            <p class="title-food">Carimañola</p>
            <p>Descripcion del plato .........</p>
            <p class="price">$2.500</p>
        </div>
    </div>   
    <div class="row">
        <div class="col-4">
            <img class="img-menu-2" src="../images/food/hawaina.jpg" alt="Expresso" title="Expresso" />
            <p class="title-food">Empanada Hawaina</p>
            <p>Descripcion del plato .........</p>
            <p class="price">$5.000</p>
        </div>
        <div class="col-4">
            <img class="img-menu-2" src="../images/food/espinaca.jpg"/>
            <p class="title-food">Empanada de espinaca y queso</p>
            <p>Descripcion del plato .........</p>
            <p class="price">$4.500</p>
        </div>
        <div class="col-4">
            <img class="img-menu-2" src="../images/food/waffles.jpeg"/>
            <p class="title-food">Waffle de arequipe</p>
            <p>Descripcion del plato .........</p>
            <p class="price">$10.000</p>
        </div>
    </div>      
</div>  