<div id="food" class="menu-food-2">
    <div class="row">

        <div class="col-4">
            <img class="img-menu-2" src="../images/food/empanadas.jpg"/>
            <p class="title-food">Empanada de carne o pollo</p>            
            <p class="price">$4.900</p>
        </div>
        <div class="col-4">
                <img class="img-menu-2" src="../images/food/hawaina.jpg" alt="Expresso" title="Expresso" />
                <p class="title-food">Empanada Hawaina</p>
                <p class="price">$4.900</p>
            </div>
            <div class="col-4">
                <img class="img-menu-2" src="../images/food/espinaca.jpg"/>
                <p class="title-food">Empanada de espinaca y queso</p>                
                <p class="price">$4.900</p>
            </div>
    </div>   
</div>  