
<script type='text/javascript' src='../unitegallery/js/jquery-11.0.min.js'></script>	
<script type='text/javascript' src='../unitegallery/js/unitegallery.min.js'></script>	

<link rel='stylesheet' href='../unitegallery/css/unite-gallery.css' type='text/css' />

<script type='text/javascript' src='../unitegallery/themes/tiles/ug-theme-tiles.js'></script>



<div id="gallery" style="display:none;">

    <a href="http://unitegallery.net">
    <img alt="Arbol Navidad"
         src="../images-gallery/thumbs/arbol.png"
         data-image="../images-gallery/big/arbol.png"
         data-description="This is a Lemon Slice"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Cantantes"
         src="../images-gallery/thumbs/cantantes.png"
         data-image="../images-gallery/big/cantantes.png"
         data-description="Those are peppers"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Café"
         src="../images-gallery/thumbs/coffee_1.jpg"
         data-image="../images-gallery/big/coffee_1.jpg"
         data-description="Those are keys"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
        <img alt="Fachada"
             src="../images-gallery/thumbs/bozha_fachada.jpg"
             data-image="../images-gallery/big/bozha_fachada.jpg"
             data-description="Those are keys"
             style="display:none">
    </a>

    <a href="http://unitegallery.net">
        <img alt="Boys"
             src="../images-gallery/thumbs/boys.png"
             data-image="../images-gallery/big/boys.png"
             data-description="Those are keys"
             style="display:none">
    </a>

    <a href="http://unitegallery.net">
        <img alt="Ladys"
             src="../images-gallery/thumbs/ladys.png"
             data-image="../images-gallery/big/ladys.png"
             data-description="Those are keys"
             style="display:none">
    </a>

    <a href="http://unitegallery.net">
        <img alt="Bozha"
             src="../images-gallery/thumbs/bozha_cafe.jpeg"
             data-image="../images-gallery/big/bozha_cafe.jpeg"
             data-description="Those are keys"
             style="display:none">
    </a>

    <a href="http://unitegallery.net">
        <img alt="Frappe Bozha"
             src="../images-gallery/thumbs/frappe.jpeg"
             data-image="../images-gallery/big/frappe.jpeg"
             data-description="Those are keys"
             style="display:none">
    </a>

    <a href="http://unitegallery.net">
        <img alt="Love"
             src="../images-gallery/thumbs/love.png"
             data-image="../images-gallery/big/love.png"
             data-description="Those are keys"
             style="display:none">
    </a>

    <a href="http://unitegallery.net">
        <img alt="Café"
             src="../images-gallery/thumbs/coffee_cup.png"
             data-image="../images-gallery/big/coffee_cup.png"
             data-description="Those are keys"
             style="display:none">
    </a>

    <a href="http://unitegallery.net">
        <img alt="Mojito"
             src="../images-gallery/thumbs/mojito.jpeg"
             data-image="../images-gallery/big/mojito.jpeg"
             data-description="Those are keys"
             style="display:none">
    </a>    

    <a href="http://unitegallery.net">
        <img alt="Katrina"
             src="../images-gallery/thumbs/katrina.jpeg"
             data-image="../images-gallery/big/katrina.jpeg"
             data-description="Those are keys"
             style="display:none">
    </a>

    <a href="http://unitegallery.net">
        <img alt="Bozha"
             src="../images-gallery/thumbs/logo_oscuro.jpeg"
             data-image="../images-gallery/big/logo_oscuro.jpeg"
             data-description="Those are keys"
             style="display:none">
    </a>

    <a href="http://unitegallery.net">
        <img alt="Café"
             src="../images-gallery/thumbs/coffee_4.jpg"
             data-image="../images-gallery/big/coffee_4.jpg"
             data-description="Those are keys"
             style="display:none">
    </a>

    <a href="http://unitegallery.net">
        <img alt="Happy New Year"
             src="../images-gallery/thumbs/2019.jpeg"
             data-image="../images-gallery/big/2019.jpeg"
             data-description="Those are keys"
             style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Corona"
         src="../images-gallery/thumbs/corona_cuebeta.png"
         data-image="../images-gallery/big/corona_cuebeta.png"
         data-description="Those are friuts in a cup"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
        <img alt="Café"
             src="../images-gallery/thumbs/coffee_2.png"
             data-image="../images-gallery/big/coffee_2.png"
             data-description="Those are keys"
             style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Friends"
         src="../images-gallery/thumbs/friends_two.png"
         data-image="../images-gallery/big/friends_two.png"
         data-description="Those are yellow flowers"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Friends"
         src="../images-gallery/thumbs/friends.png"
         data-image="../images-gallery/big/friends.png"
         data-description="This is butterfly"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
        <img alt="Café"
                src="../images-gallery/thumbs/coffee.jpeg"
                data-image="../images-gallery/big/coffee.jpeg"
                data-description="Those are keys"
                style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Girasoles"
         src="../images-gallery/thumbs/girasoles.png"
         data-image="../images-gallery/big/girasoles.png"
         data-description="This is a boat"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Halloween"
         src="../images-gallery/thumbs/halloween.png"
         data-image="../images-gallery/big/halloween.png"
         data-description="This is a woman"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
        <img alt="Café"
             src="../images-gallery/thumbs/coffee_5.jpg"
             data-image="../images-gallery/big/coffee_5.png"
             data-description="Those are keys"
             style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Macondo"
         src="../images-gallery/thumbs/macondo.png"
         data-image="../images-gallery/big/macondo.png"
         data-description="This is cup of coffee"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Mojito de Corozo"
         src="../images-gallery/thumbs/mojito_corozo.png"
         data-image="../images-gallery/big/mojito_corozo.png"
         data-description="This is iphone back"
         style="display:none">
    </a>
    <a href="http://unitegallery.net">
    <img alt="Palenquera"
         src="../images-gallery/thumbs/palenque.png"
         data-image="../images-gallery/big/palenque.png"
         data-description="This is a Lemon Slice"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Peroni"
         src="../images-gallery/thumbs/peroni.png"
         data-image="../images-gallery/big/peroni.png"
         data-description="Those are peppers"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
        <img alt="Café"
             src="../images-gallery/thumbs/coffee_8.jpg"
             data-image="../images-gallery/big/coffee_8.png"
             data-description="Those are keys"
             style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Perro blanco"
         src="../images-gallery/thumbs/perroblanco.png"
         data-image="../images-gallery/big/perroblanco.png"
         data-description="Those are keys"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Jugo de piña"
         src="../images-gallery/thumbs/pina.png"
         data-image="../images-gallery/big/pina.png"
         data-description="Those are friuts in a cup"
         style="display:none">
    </a>

    <a href="http://unitegallery.net">
    <img alt="Perro blanco"
         src="../images-gallery/thumbs/porti_perroblanco.png"
         data-image="../images-gallery/big/porti_perroblanco.png"
         data-description="Those are yellow flowers"
         style="display:none">
    </a>


         
</div>

<script type="text/javascript">

    jQuery(document).ready(function(){

        jQuery("#gallery").unitegallery();

    });
    
</script>