<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <script src="../script/jquery.js"></script>
        <script src="../script/script.js"></script>

        <!-- <script src="../script/script2.js"></script> -->

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  
        <!-- Fontawesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        
        <script src="../script/backbone-min.js"></script>
    </head>
    <body>
        <div id="page">
            <div id="header">                
                <div id="top-menu">                
                    <ul>    
                        <li><a href="#"><img title="Ingles" alt="Ingles" src="../images/flag_england.png"/></a></li>
                        <li class="language"><a href="#"><img title="Español" alt="Español"  src="../images/flag_spain.png"/></a></li>                             
                        <li><a target="_blank" href="https://www.facebook.com/bozhacafe"> <i title="Facebook"  class="fab fa-facebook-square fa-2x"></i></a></li>
                        <li><a href="#"><i title="Instagram" class="fab fa-instagram fa-2x"></i></a></li>
                        <li><a href="#"><i title="Twitter" class="fab fa-twitter-square fa-2x"></i></a></li>
                    </ul>
                </div>

                <div id="logo">
                    <img src="../images/LOGO_BOZHA_BIG_LETTER.png"/>
                </div>
                
                <div id="principal-menu">
                    <div id="left-menu">
                        <ul>
                            <li id="link-home"><a href="#home">Home</a></li>
                            <li id="link-about"><a href="#about">About Us</a></li>
                            <li id="link-contact"><a href="#contact">Contact Us</a></li>
                        </ul>
                    </div>
                    <div id="right-menu">
                        <ul>
                            <li id="link-coffee"><a href="#coffee">Coffee</a></li>
                            <li id="link-food"><a href="#food">Food</a></li>
                            <li id="link-drink"><a href="#drink">Drinks</a></li>                        
                        </ul>
                    </div>
                </div>                
                
            </div>

            <div id="container-general">

            </div>
        </div>

        <!-- Footer -->
        <footer class="page-footer font-small teal pt-4">

        <!-- Footer Text -->
        <div class="container-fluid text-center text-md-left">

     

        </div>
        <!-- Footer Text -->

        <div id="footer-social-btns" class="d-flex justify-content-center">

            <!-- Social buttons -->
            <ul>
                <li><a href="#"> <i class="fab fa-facebook-square fa-2x"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram fa-2x"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
            </ul>
        </div>

              
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            <b>© 2018 Copyright: Bozha</b>
        </div>
        <!-- Copyright -->

        </footer>
        <!-- Footer -->

        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQ-7s50i9SwaBId0MATuz69dDTHX3YD_w&callback=initMap">
        </script>
    </body>
</html>